*.pyc
.idea
Binance_Futures_python/build/*
Binance_Futures_python/dist/*
Binance_Futures_python/binance_futures.egg-info/*
CoinAnalyze/config.ini
# jupyter
*.ipynb_checkpoints
*.ipynb

# Mac system
.DS_Store

# VSCode
.vscode

# Python venv
.venv
.binance_futures